@import url('http://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
}

article {
  margin: 20px 0 0 20px;
}

section>header {
  font-size: 1.5rem;
}

header {
  margin-top: 10px;
}

.page-header {
  margin: 20px 0 0 20px;
  font-size: 1.5rem;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  padding-top: 5px;
}

a,
a:visited {
  text-decoration: underline;
  color: #333;
}

a:hover {
  color: darkred;
}

.book-container {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.book-image>img {
  max-width: 90%;
  max-height: 90%;
}

.book-text {
  font-size: 2rem;
}

.book-text>p {
  margin: 0;
  padding: 0;
}

.book-text>.book-info {
  font-size: 1.5rem;
}