@import url('http://fonts.googleapis.com/css?family=Roboto');

html,
body {
  height: 100%;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
}

.content {
  flex: 1 0 auto;
}

article {
  margin: 20px 0 0 20px;
}

section>header {
  font-size: 1.5rem;
}

header {
  margin-top: 10px;
}

footer {
  flex-shrink: 0;
  padding: 20px;
  font-size: 0.8rem;
}

.page-header {
  margin: 20px 0 0 20px;
  font-size: 1.5rem;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  padding-top: 5px;
}

a,
a:visited {
  text-decoration: underline;
  color: #333;
}

a:hover {
  color: darkred;
}

.book-container {
  display: grid;
  align-items: start;
  grid-template-columns: 0.5fr 1fr;
  column-gap: 5px;
}

.book-image>img {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin: auto;
}

.book-text {
  font-size: 2rem;
}

.book-text>p {
  margin: 0 0 2rem 0;
  padding: 0;
}

.book-text>.book-info {
  font-size: 1.5rem;
}